{{#extend "layout"}}
    {{#content "main"}}

        <section class="portfolio-single">
            <div class="container">
                <div class="portfolio-single__wrapper">
                    <div class="portfolio-single__nav">
                        <div class="portfolio-single__nav-menu side-menu">
                            <h1 class="side-menu__title main-title">Портфолио</h1>
                            <ul class="side-menu__nav-list">
                                {{#each portfolioNav }}
                                    <li class="side-menu__nav-item{{#if this.active }} active{{/if}}">
                                        <a href="#">{{this.name}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-single__body">
                        <div class="portfolio-single__gallery-container swiper">
                            <ul class="portfolio-single__gallery swiper-wrapper">
                                {{#each gallery }}
                                    <li class="portfolio-single__gallery-item swiper-slide">
                                        <a class="portfolio-single__gallery-link" data-fancybox="gallery1" data-src="{{this.img}}">
                                            <img class="swiper-lazy" data-src="{{this.img}}" alt="Фото архитектуры">
                                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                            <div class="js-slider-navigation">
                                <button class="swiper-button-prev js-prev-slide">
                                    <svg>
                                        <use xlink:href="#arrow-icon"></use>
                                    </svg>
                                </button>
                                <button class="swiper-button-next js-next-slide">
                                    <svg>
                                        <use xlink:href="#arrow-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="portfolio-single__name-block">
                            <span class="portfolio-single__name">Жилой комплекс “Вишневый сад” (4 очередь)</span>
                        </div>
                        <div class="portfolio-single__info-container">
                            <div class="portfolio-single__info">
                                {{#each portfolioInfo }}
                                    <div class="portfolio-single__info-block">
                                        {{#if this.title }}<h3 class="portfolio-single__info-title">{{this.title}}</h3>{{/if}}
                                        <div class="portfolio-single__info-text">
                                            <p>{{{this.text}}}</p>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="portfolio-single__info-desc-block">
                                <h3 class="portfolio-single__info-title">Описание</h3>
                                <div class="portfolio-single__info-desc">
                                    <p>
                                        Концепция планировки и застройки основывается на принципе совмещения привлекательных
                                        сторон загородного и городского стиля жизни для семей с детьми. Территория
                                        проектирования находится в живописном природном окружении в 200 метрах от реки Волга. На
                                        участке предлагается размещение двух многоквартирных 3-4-х жилых домов со. встроенными
                                        подземными стоянками автомобилей. При квартирах, расположенных на первых этажах,
                                        предусмотрены палисадники. На кровле предлагается устройство эксплуатируемых террас
                                        индивидуального и общего пользования.
                                    </p>
                                </div>
                            </div>
                            <div class="portfolio-single__squares">
                                <div class="portfolio-single__squares-block">
                                    <h3 class="portfolio-single__squares-title">Площадь участка</h3>
                                    <div class="portfolio-single__squares-text">
                                        <p>0,20 га</p>
                                    </div>
                                </div>
                                <div class="portfolio-single__squares-block">
                                    <h3 class="portfolio-single__squares-title">Общая площадь здания</h3>
                                    <div class="portfolio-single__squares-text">
                                        <p>8314 кв.м.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}